header {
    text-align: center;
}

body {
    background-color: lavender;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-container {
    background-color: whitesmoke;
    border-color: blueviolet;
    border-style: solid;
    width: 800px;
    max-width: 80%;
    padding:10px;
}

h2 {
    text-align: center;
}
.btn {
    background-color: lightgray;
}

.controls {
    display: flex;
    justify-content: space-evenly;
}

.time {
    display: flex;
    justify-content: space-evenly;
    
}


